<section class="component-novedades">
    <div class="page-container">
  
      <H2 class="section__title"> Novedades </H2> 
  
      <div class="novedades__list">
  
        <div class="owl-carousel owl-carousel-novedades">
  
          <a href="#" class="novedad__item">
            <img src="/img/novedades/img.png" class="img-fluid" alt="agregar descripción de la imagen">
            <div class="novedad__text">
              <div class="text__header">
                <span class="label__primary"> Categoria </span>
                <span class="text__date">05/03/2020</span>
              </div>
              <h3 class="text__title">Lorem ipsum dolor sit amet </h3>
              <p class="text__resume"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. </p>
            </div>
            <div class="item__link">ver más</div>
          </a>
  
          <a href="#" class="novedad__item">
            <img src="/img/novedades/img.png" class="img-fluid" alt="agregar descripción de la imagen">
            <div class="novedad__text">
              <div class="text__header">
                <span class="label__primary"> Categoria </span>
                <span class="text__date">05/03/2020</span>
              </div>
              <h3 class="text__title">Lorem ipsum dolor sit amet </h3>
              <p class="text__resume"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. </p>
            </div>
            <div class="item__link">ver más</div>
          </a>
  
          <a href="#" class="novedad__item">
            <img src="/img/novedades/img.png" class="img-fluid" alt="agregar descripción de la imagen">
            <div class="novedad__text">
              <div class="text__header">
                <span class="label__primary"> Categoria </span>
                <span class="text__date">05/03/2020</span>
              </div>
              <h3 class="text__title">Lorem ipsum dolor sit amet </h3>
              <p class="text__resume"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. </p>
            </div>
            <div class="item__link">ver más</div>
          </a>
  
          <a href="#" class="novedad__item">
            <img src="/img/novedades/img.png" class="img-fluid" alt="agregar descripción de la imagen">
            <div class="novedad__text">
              <div class="text__header">
                <span class="label__primary"> Categoria </span>
                <span class="text__date">05/03/2020</span>
              </div>
              <h3 class="text__title">Lorem ipsum dolor sit amet </h3>
              <p class="text__resume"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Lorem lu la la </p>           
            </div>
            <div class="item__link">ver más</div>
          </a>
  
        </div>
  
        <a href="#" class="btn-large btn-primary-outline btn-icon"> 
          ver todas  
          <span class="material-icons-outlined"> arrow_forward </span>
        </a>
      </div>
  
    </div>
  </section>