<footer class="component-footer-generic">

  <div class="footer-header"> 
    <div class="page-container">

      <div class="footer-header__content">
        <img src="img/logo-isa-white.svg" alt="img description" class="img-fluid"> 
        <nav class="component-social-media component-social-media__horizontal">
          <a href="https://www.youtube.com/user/MarketingBSE" class="circle-social-link">
            <span>Youtube</span>
          </a>
          <a href="https://www.facebook.com/BSEuruguay" class="circle-social-link">
            <span>Facebook</span>
          </a>
          <a href="https://twitter.com/bseuruguay" class="circle-social-link">
            <span>Twitter</span>
          </a>
          <a href="https://www.instagram.com/bseuruguay/" class="circle-social-link">
            <span>Instagram</span>
          </a>
        </nav>
      </div>

    </div>
  </div>

  <div class="footer-body">
    <div class="page-container">

      <div class="footer-body__content">

        <nav class="footer-navlist">
          <span class="nav-title"> Lorem ipsum <span class="material-icons-outlined"> expand_more </span> </span>
          <div class="collapse-mobile-content">
            <a href="#" class="footer-navlist__link">Agenda</a>
            <a href="#" class="footer-navlist__link">Novedades</a>
            <a href="#" class="footer-navlist__link">Nosotros</a>
            <a href="#" class="footer-navlist__link">Proyectos</a>
            <a href="#" class="footer-navlist__link">Blog</a>
          </div>
        </nav>

        <nav class="footer-navlist">
          <span class="nav-title"> Lorem ipsum <span class="material-icons-outlined"> expand_more </span> </span>
          <div class="collapse-mobile-content">
            <a href="#" class="footer-navlist__link">Agenda</a>
            <a href="#" class="footer-navlist__link">Novedades</a>
            <a href="#" class="footer-navlist__link">Nosotros</a>
            <a href="#" class="footer-navlist__link">Proyectos</a>
            <a href="#" class="footer-navlist__link">Blog</a>
          </div>
        </nav>
        
        <nav class="footer-navlist">
          <a href="#" class="footer-navlist__link">Declaración de accesibilidad</a>
          <a href="#" class="footer-navlist__link">Politica de privacidad</a>
          <a href="#" class="footer-navlist__link">Términos de uso</a>
          <a href="#" class="footer-navlist__link">Mapa del sitio</a>
        </nav>
        
      </div>
      
    </div>
  </div>

  <div class="footer-bottom">
    <div class="page-container">
      <p class="copy-text"> Todos los derechos reservados © 2022 ISA Ltda. </p>
    </div>
  </div>

</footer>